<div class="flight-container">
  <div class="header">
    <img src="favicon.ico" alt="Angular Logo" class="logo" />
  </div>
  <h2>Flights</h2>

  <lib-user-auth></lib-user-auth>

  <form>
    <input type="text" placeholder="From" class="input-field" />
    <input type="text" placeholder="To" class="input-field" />
    <div class="button-group">
      <button type="submit" class="btn">Search</button>
      <button type="button" class="btn secondary">Terms...</button>
    </div>
  </form>
</div>
